doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport",content="width=device-width, initial-scale=1")
		meta(name="description",content="")
		meta(name="author",content="")
		title Cotizador de...
		link(rel="stylesheet",href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
		link(rel='stylesheet', href='https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css')
		link(rel="stylesheet",href="style.css")
	body
		.callme
			br
			p.text-center Tengo dudas, Llámenme
		hr
		h1 pasos
		.steps
			.container
				.row
					.col-md-4.step.complete
						.ico.registra
						h3.text-center registro
					.col-md-4.step.active
						.ico.cotiza
						h3.text-center cotiza
					.col-md-4.step
						.ico.valida
						h3.text-center cuestionario
		hr
		

		.container.bgwhite
			.row
				form.form-inline
					.form-group
						label.sr-only(for='exampleInputAmount') Buscar folio
						.input-group
							.input-group-addon
								span.glyphicon.glyphicon-list-alt(aria-hidden='true')
							input#exampleInputAmount.form-control(type='text', placeholder='Folio')
				hr
				h4 Datos Basicos
				.col-md-4
					label Nombre
					input.form-control(type="text")
				.col-md-4
					label Teléfono
					input.form-control(type="text")
				.col-md-4
					label E-mail
					input.form-control(type="text")
			.row
				hr
				.col-md-6.text-center
					.ico.house
					.radio
						input.pregDom(type='radio',id="radio-domC",name='cuestionarioP4',value='Casa', class="regular-radio",checked='true')
						label(for='radio-domC')
						label 
							h4 Casa
					.col-md-12.casa
						.col-md-8.text-right
							p.label
								strong ¿Cuántos pisos tiene la casa?
						.col-md-3
							input.form-control(type='text', placeholder='# Pisos ')

				.col-md-6.text-center
					.ico.depa
					.radio
						input.pregDom(type='radio',id="radio-domD",name='cuestionarioP4',value='Dep', class="regular-radio")
						label(for='radio-domD')
						label 
							h4 Departamento
					.col-md-12.edificio
						.col-md-8.text-right
							p.label
								strong ¿Cuántos pisos tiene el edificio?
						.col-md-3
							input.form-control(type='text', placeholder='# Pisos ')
						.col-md-8.text-right
							p.label
								strong ¿En qué piso vives?
						.col-md-3
							input.form-control(type='text', placeholder='# Pisos ')
			.row
				hr
				.mod-car
					.col-md-2.mod-anio.borde
							ul
								li
									a(href="#") 1989
								li
									a(href="#") 1989
								li
									a(href="#") 1989
								li
									a(href="#") 1989
								li
									a(href="#") 1989
								li
									a(href="#") 1989
								li
									a(href="#") 1989
								li
									a(href="#") 1989
								li
									a(href="#") 1989
								li
									a(href="#") 1989
								li
									a(href="#") 1989
								li
									a(href="#") 1989
								li
									a(href="#") 1989
								li
									a(href="#") 1989
								li
									a(href="#") 1989
					.col-md-7.mod-marca.borde
							.col-md-4
								div
									img(src="https://i.blogs.es/96633b/140013_cor/450_1000.jpg",width=30)
									h4.txtmarca ferrari
							.col-md-4
								div
									img(src="https://i.blogs.es/96633b/140013_cor/450_1000.jpg",width=30)
									h4.txtmarca ferrari
							.col-md-4
								div
									img(src="https://i.blogs.es/96633b/140013_cor/450_1000.jpg",width=30)
									h4.txtmarca ferrari
							.col-md-4
								div
									img(src="https://i.blogs.es/96633b/140013_cor/450_1000.jpg",width=30)
									h4.txtmarca ferrari
							.col-md-4
								div
									img(src="https://i.blogs.es/96633b/140013_cor/450_1000.jpg",width=30)
									h4.txtmarca ferrari
							.col-md-4
								div
									img(src="https://i.blogs.es/96633b/140013_cor/450_1000.jpg",width=30)
									h4.txtmarca ferrari
							.col-md-4
								div
									img(src="https://i.blogs.es/96633b/140013_cor/450_1000.jpg",width=30)
									h4.txtmarca ferrari
							.col-md-4
								div
									img(src="https://i.blogs.es/96633b/140013_cor/450_1000.jpg",width=30)
									h4.txtmarca ferrari
							.col-md-4
								div
									img(src="https://i.blogs.es/96633b/140013_cor/450_1000.jpg",width=30)
									h4.txtmarca ferrari
							.col-md-4
								div
									img(src="https://i.blogs.es/96633b/140013_cor/450_1000.jpg",width=30)
									h4.txtmarca ferrari
							

					.col-md-3.mod-modelo.borde
							ul
								li
									a(href="#") YB100
								li
									a(href="#") YB100
								li
									a(href="#") YB100
								li
									a(href="#") YB100
								li
									a(href="#") YB100
								li
									a(href="#") YB100
								li
									a(href="#") YB100
								li
									a(href="#") YB100
								li
									a(href="#") YB100
								li
									a(href="#") YB100
								li
									a(href="#") YB100
								li
									a(href="#") YB100
								li
									a(href="#") YB100
								li
									a(href="#") YB100
								li
									a(href="#") YB100
			.row
				hr
				.panel.panel-default
					.panel-body
						.col-xs-1
							input(type="checkbox",id="checkbox-Acepto" class="regular-checkbox big-checkbox")
							label(for="checkbox-Acepto")
						.col-xs-11
							h4 marca, marca, marca, marca, marca, marca, marca, marca, 
				.panel.panel-default
					.panel-body
						.col-xs-1
							input(type="checkbox",id="checkbox-Acepto" class="regular-checkbox big-checkbox")
							label(for="checkbox-Acepto")
						.col-xs-11
							h4 marca, marca, marca, marca, marca, marca, marca, marca, 
				.panel.panel-default
					.panel-body
						.col-xs-1
							input(type="checkbox",id="checkbox-Acepto" class="regular-checkbox big-checkbox")
							label(for="checkbox-Acepto")
						.col-xs-11
							h4 marca, marca, marca, marca, marca, marca, marca, marca, 
				.panel.panel-default
					.panel-body
						.col-xs-1
							input(type="checkbox",id="checkbox-Acepto" class="regular-checkbox big-checkbox")
							label(for="checkbox-Acepto")
						.col-xs-11
							h4 marca, marca, marca, marca, marca, marca, marca, marca, 
			.row
				hr
				.col-md-12.text-center
					p pregunta 1 pregunta 1 pregunta 1 pregunta 1
					.radio
						input.pregDom(type='radio',id="radio-adomC1",name='pregunta1',value='Casa', class="regular-radio",checked='true')
						label(for='radio-adomC1')
						label 
							h4 Casa
					.radio
						input.pregDom(type='radio',id="radio-adomC2",name='pregunta1',value='Casa', class="regular-radio",)
						label(for='radio-adomC2')
						label 
							h4 Casa
				.col-md-12.text-center
					p pregunta 2 pregunta 2 pregunta 2 pregunta 2
					.radio
						input.pregDom(type='radio',id="radio-bdomC1",name='pregunta2',value='Casa', class="regular-radio",checked='true')
						label(for='radio-bdomC1')
						label 
							h4 Casa
					.radio
						input.pregDom(type='radio',id="radio-bdomC2",name='pregunta2',value='Casa', class="regular-radio",)
						label(for='radio-bdomC2')
						label 
							h4 Casa
					.radio
						input.pregDom(type='radio',id="radio-bdomC3",name='pregunta2',value='Casa', class="regular-radio",)
						label(for='radio-bdomC3')
						label 
							h4 Casa							
			.row
				hr
				.col-md-12.text-center
					p pregunta 3 pregunta 3 pregunta 3 pregunta 3					
				.col-md-2.text-center
					.ico.house
					.radio
						input.pregDom(type='radio',id="radio-generoA",name='genero',value='Casa', class="regular-radio",checked='true')
						label(for='radio-generoA')
						label 
							h4 Conductor
				.col-md-2.text-center
					.ico.depa
					.radio
						input.pregDom(type='radio',id="radio-generoB",name='genero',value='Dep', class="regular-radio")
						label(for='radio-generoB')
						label 
							h4 Conductora
				.col-md-4
					p.label Fecha de nacimiento*
					.col-xs-12
						input.selector.form-control(type='text')
					.col-xs-4
						input#day.form-control(type='text', disabled='')
					.col-xs-4
						input#moth.form-control(type='text', disabled='')
					.col-xs-4
						input#year.form-control(type='text', disabled='')
				.col-md-4
					label Codigo postal
					input.form-control(type="text")
			.row
				hr
				.col-md-12.text-center
					p Existe otro conductor
				.radio
					input.pregDom(type='radio',id="radio-conductor1",name='drive',value='Casa', class="regular-radio",checked='true')
					label(for='radio-conductor1')
					label 
						h4 SI
				.radio
					input.pregDom(type='radio',id="radio-conductor2",name='drive',value='Casa', class="regular-radio",)
					label(for='radio-conductor2')
					label 
						h4 NO
			.row
				.col-xs-3
					button.btn.btn-info.bigbutton(type='button') Continuar

		hr
		.container.bgwhite
				hr
				.row
					.col-md-12
						.panel.panel-default
							.panel-body
								h4 Plan Amplio
								p "El paquete completo de procección"
								p.label Pago:
									span.dato Mensual
								br
								p.label Primer pago:
									span.dato $1221,221 
										span.letrasPq "incluye el derecho de poliza ($232,00)"
								br
								p.label Pagos subsecuentes
									span.dato 11 pagos de
								br
								p.label Total a pagar: 
								span.dato $2312.00
					.col-md-4
						.panel.panel-default
							.panel-body
								h4 Trimestral
								p.dato $239.00
					.col-md-4
						.panel.panel-default
							.panel-body
								h4 Semestral
								p.dato $9080.00
					.col-md-4
						.panel.panel-default
							.panel-body
								h4 Anual
								p.dato $8979.00
					.col-md-4
						button.btn.btn-info.solid Ver coberturas
				.row
					.col-md-4
						h4 Plan Amplio
						p.letrasPq "El plan más completo y con menos deducible"
						p.label Pago: 
						span.dato $234,283.00
							span.letrasPq *incluye el derecho a polizas *incluye el derecho a polizas *incluye el derecho a polizas
						br
						p.label Pagos subsecuentes
						span.dato 11 pagos de 123,342.00 MXN
						br
						p.label Total a pagar:
						Span.dato $232,234.00 MXN
						hr
						.col-xs-4 
							p.label Trimestral
							h3 $234.00
						.col-xs-4
							p.label Semestral
							h3 $234.00
						.col-xs-4
							p.label Anual
							h3 $234.00
						.panel-default
							.panel-body
								button.btn.btn-info.borde Ver Coberturas
					.col-md-4
						h4 Plan Amplio
						p.letrasPq "El plan más completo y con menos deducible"
						p.label Pago: 
						span.dato $234,283.00
							span.letrasPq *incluye el derecho a polizas *incluye el derecho a polizas *incluye el derecho a polizas
						br
						p.label Pagos subsecuentes
						span.dato 11 pagos de 123,342.00 MXN
						br
						p.label Total a pagar:
						Span.dato $232,234.00 MXN
						hr
						.col-xs-4 
							p.label Trimestral
							h3 $234.00
						.col-xs-4
							p.label Semestral
							h3 $234.00
						.col-xs-4
							p.label Anual
							h3 $234.00
						.panel-default
							.panel-body
								button.btn.btn-info.borde Ver Coberturas
					.col-md-4
						h4 Plan Amplio
						p.letrasPq "El plan más completo y con menos deducible"
						p.label Pago: 
						span.dato $234,283.00
							span.letrasPq *incluye el derecho a polizas *incluye el derecho a polizas *incluye el derecho a polizas
						br
						p.label Pagos subsecuentes
						span.dato 11 pagos de 123,342.00 MXN
						br
						p.label Total a pagar:
						Span.dato $232,234.00 MXN
						hr
						.col-xs-4 
							p.label Trimestral
							h3 $234.00
						.col-xs-4
							p.label Semestral
							h3 $234.00
						.col-xs-4
							p.label Anual
							h3 $234.00
						.panel-default
							.panel-body
								button.btn.btn-info.borde Ver Coberturas
		hr
		.container.bgwhite
			.row

				.col-md-3
					.panel.panel-default
						.panel-body
							.ico.house
							p.label Folio: 
								span  67878786
				.col-md-9
					.panel.panel-default
						.panel-body
							p.label Marca: 
								span.dato Ferrari -
							p.label Submarca:
								span.dato Submarcad e ferrari -
							p.label Modelo:
								span.dato yb125
							br
							p.label Versión:
								span.dato version de modelo
							p.dato Cuota inicial:
								span.dato $2,133.00
									span (incluye pago inicial de $323.00 MXN por derecho de póliza )
							p.dato Cuota Mensual: 
								span  1,635.00
							p.dato Total: 
								span  10,635.00
			.row
				hr
				.col-md-12.text-center
					p Existe otro conductor
					.radio
						input.pregDom(type='radio',id="radio-vp1",name='vigenciapoliza',value='Casa', class="regular-radio",checked='true')
						label(for='radio-vp1')
						label 
							h4 SI
					.radio
						input.pregDom(type='radio',id="radio-vp2",name='vigenciapoliza',value='Casa', class="regular-radio",)
						label(for='radio-vp2')
						label 
							h4 NO
				hr
				.col-md-12
					h4 Datos del vehiculo
					.col-md-6
						label Número de serie
						input.form-control(type="text")
					.col-md-6
						label Placas
						input.form-control(type="text")
				hr
				.col-md-12
					h4 su poliza requiere de beneficiario preferente
					.radio
						input.pregDom(type='radio',id="radio-requiereb1",name='vigenciapoliza',value='Casa', class="regular-radio",checked='true')
						label(for='radio-requiereb1')
						label 
							h4 SI
					.radio
						input.pregDom(type='radio',id="radio-radio-requiereb2",name='vigenciapoliza',value='Casa', class="regular-radio",)
						label(for='radio-radio-requiereb2')
						label 
							h4 NO
		hr
		.container.bgwhite
			.row
				.col-md-12
					h4 Titular asegurado
					.col-md-4
						label Nombre(s)
						input.form-control(type="text")
					.col-md-4
						label Primer apellido
						input.form-control(type="text")
					.col-md-4
						label Segundo apellido
						input.form-control(type="text")
			.row
				.col-md-12
					.col-md-4
						label Género
						input.form-control(type="text")

					.col-md-4
						label Fecha de nacimiento
						input.form-control(type="text")

					.col-md-4
						label R.F.C.
						input.form-control(type="text")

			.row
				.col-md-12
					.col-md-4
						label E-mail
						input.form-control(type="text")

					.col-md-4
						label Télefono celular
						input.form-control(type="text")

					.col-md-4
						label Télefono
						input.form-control(type="text")

			.row
				.col-md-12
					.col-md-4
						label País de nacionalidad
						input.form-control(type="text")

					.col-md-4
						label Ocupación
						input.form-control(type="text")
			.row
				button.btn.btn-info.solid Guardar cotizacion
			hr
			.row
				h4 Datos del pago
				hr
				.col-md-12
					label Nombre del tarjetahabiente
					input.form-control(type="text",placeholder="Nombre del tarjetahabiente")
				.col-md-5
					label Numero de tarjeta
					input.form-control(type="text",placeholder="Numero de tarjeta")
				.col-md-3
					label Codigo de seguridad
					input.form-control(type="text",placeholder="Codigo de seguridad")
				.col-md-2
					label Vigencia de tarjeta
					input.form-control(type="text",placeholder="mes")
				.col-md-2
					label(style="color:#fff;") ok  
					input.form-control(type="text",placeholder="año")
				.col-md-1
					input(type="checkbox",id="checkbox-Acepto" class="regular-checkbox big-checkbox")
					label(for="checkbox-Acepto")
				.col-md-11
					h4 Acepto 
						a(href="#")  terminos y condiciones
				.col-md-6
					button.btn.btn-info.solid regresar
				.col-md-6
					button.btn.btn-info.solid confirmar
			hr
			.row
				h4 Domicilio titular asegurado
				.col-md-4
					label Calle
					input.form-control(type="text")
				.col-md-4
					label Número exterior
					input.form-control(type="text")
				.col-md-4
					label Número Interior
					input.form-control(type="text")
				.col-md-4
					label Codigo postal
					input.form-control(type="text")
				.col-md-4
					label Colonia
					input.form-control(type="text")
			hr
			.row
				h4 Contratante el mismo titular
					.radio
						input.pregDom(type='radio',id="radio-mismotitular1",name='mismotitular',value='Casa', class="regular-radio",checked='true')
						label(for='radio-mismotitular1')
						label 
							h4 SI
					.radio
						input.pregDom(type='radio',id="radio-radio-mismotitular2",name='mismotitular',value='Casa', class="regular-radio",)
						label(for='radio-radio-mismotitular2')
						label 
							h4 NO				

	script(src="http://code.jquery.com/jquery.js")
	script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
	script(src="../js/app.js")
	script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")