doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport",content="width=device-width, initial-scale=1")
		meta(name="description",content="")
		meta(name="author",content="")
		title Cotizador Tkm Hogar
		link(rel="stylesheet",href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
		link(rel='stylesheet', href='https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css')
		link(rel="stylesheet",href="style.css")
		link(rel="stylesheet",href="../fonts/font.css")
	body
		h1 pasos
		.steps
			.container
				.row
					.col-md-4.step.complete
						.ico.registra
						h3.text-center Cotizar
					.col-md-4.step.active
						.ico.cotiza
						h3.text-center Configurar
					.col-md-4.step
						.ico.valida
						h3.text-center Formalizar
		hr
		

	h1 Cotiza
		.container.bgwhite
			.row
				form
					.col-md-offset-1.col-md-10
						h4 Datos Basicos cotización
						hr
						.col-md-4
							label Nombre
							input#nombretkm.form-control(type="text",nombre="nombretkm", placeholder='Nombre')
						.col-md-4
							label Apellido Paterno
							input#ApellidoPaternotkm.form-control(type="text",nombre="Apellido Paternotkm", placeholder='Apellido Paterno')
						.col-md-4
							label Apellido Materno
							input#ApellidoMaternotkm.form-control(type="text",nombre="Apellido Maternotkm", placeholder='Apellido Materno')
						.col-md-4
							label Teléfono
							input#teletkm.form-control(type="text",nombre="teletkm", placeholder='Teléfono')
					.col-md-offset-1.col-md-10
						h4 Domicilio a asegurar
						hr
						.col-md-4
							label Calle
							input#Calletkm.form-control(type="text",nombre="Calletkm", placeholder='Calle')
						.col-md-4
							label No. Exterior
							input#NoExteriortkm.form-control(type="text",nombre="No.Exteriortkm", placeholder='No. Exterior')
						.col-md-4
							label No. Int
							input#NoInttkm.form-control(type="text",nombre="NoInttkm", placeholder='No. Int')
						.col-md-4
							label Codigo postal
							input#cptkm.form-control(type="text",nombre="C.ptkm", placeholder='Codigo postal')
						.col-md-4
							label Colonia
							select#uso.form-control
								option(value="opcion-1",nombre="") Colonia
								option(value="opcion-2",nombre="") b
								option(value="opcion-3",nombre="") c
								option(value="opcion-4",nombre="") d
								option(value="opcion-5",nombre="") e
						.col-md-4
							label Delegación/Municipio
							input#delegacionkm.form-control(type="text",nombre="delegtkm", placeholder='Delegación/Municipio')
						.col-md-4
							label Estado
							input#edotkm.form-control(type="text",nombre="edotkm", placeholder='Estado')
					.col-md-offset-1.col-md-10
						hr
						.col-md-8
							h4 Suma asegurar:
							select#uso.form-control
								option(value="opcion-1",nombre="") 1,000.00°°
								option(value="opcion-2",nombre="") b
								option(value="opcion-3",nombre="") c
								option(value="opcion-4",nombre="") d
								option(value="opcion-5",nombre="") e
					.col-md-offset-1.col-md-10.text-left
						hr
						h2 Tipo de plan.
						.col-md-4
							.ico.house
							.radio
								input.pregDom(type='radio',id="radio-Casa",name='cuestionarioP4',value='Casa', class="regular-radio",checked='true')
								label(for='radio-Casa')
								label 
									h4 Casa
						.col-md-4
							.ico.depa
							.radio
								input.pregDom(type='radio',id="radio-depto",name='cuestionarioP4',value='depto', class="regular-radio")
								label(for='radio-depto')
								label 
									h4 depto
			.row
				.col-md-offset-1.col-md-10
					hr
					.panel.panel-default
						.panel-body
							.col-xs-1
								input(type="checkbox",id="checkbox-Version1" class="regular-checkbox big-checkbox")
								label(for="checkbox-Version1")
							.col-xs-2
								h4 Pago Mensual
							.col-xs-4
								h4 + 11 pagos subsecuentes de $250
							.col-xs-3
								h4 Total a a pagar 
							.col-xs-1
								h4 $3,000.00
					.panel.panel-default
						.panel-body
							.col-xs-1
								input(type="checkbox",id="checkbox-Version2" class="regular-checkbox big-checkbox")
								label(for="checkbox-Version2")
							.col-xs-2
								h4 Pago Trimestral
							.col-xs-4
								h4 + 3 pagos subsecuentes de $750
							.col-xs-3
								h4 Total a a pagar 
							.col-xs-1
								h4 $3,000.00
					.panel.panel-default
						.panel-body
							.col-xs-1
								input(type="checkbox",id="checkbox-Version3" class="regular-checkbox big-checkbox")
								label(for="checkbox-Version3")
							.col-xs-2
								h4 Pago Semestral
							.col-xs-4
								h4 + 1 pago subsecuente de $1,500
							.col-xs-3
								h4 Total a a pagar 
							.col-xs-1
								h4 $3,000.00
					.panel.panel-default
						.panel-body
							.col-xs-1
								input(type="checkbox",id="checkbox-Version4" class="regular-checkbox big-checkbox")
								label(for="checkbox-Version4")
							.col-xs-2
								h4 Pago Anual
							.col-xs-4
								h4 Pago único de $3,000.00
							.col-xs-3
								h4 Total a a pagar 
							.col-xs-1
								h4 $3,000.00
			.row
				.col-md-offset-1.col-md-10
					hr
					h2 Cuestionario.
					.col-md-12.text-left
						h6.labelgral2 1.- ¿El inmueble por asegurar se encuentra auna distancia menor a 500 metros respecto a cualquier fuente de agua 
								span
									strong (lago, río, mar, etc.)?
					.col-md-3.text-center
						.radio
							input.pregDom(type='radio',id="radio-adomC11",name='pregunta11',value='No', class="regular-radio",checked='true')
							label(for='radio-adomC11')
							label 
								h4 No
					.col-md-3.text-center
						.radio
							input.pregDom(type='radio',id="radio-adomC12",name='pregunta11',value='Si', class="regular-radio",)
							label(for='radio-adomC12')
							label 
								h4 Si
					.col-md-12.text-left
						h6.labelgral2 2.- ¿Los muros están construidos de 
								span
									strong tabique, ladrillo, block o concreto armado?
					.col-md-3.text-center
						.radio
							input.pregDom(type='radio',id="radio-bdomC13",name='pregunta12',value='NO', class="regular-radio",checked='true')
							label(for='radio-bdomC13')
							label 
								h4 NO
					.col-md-3.text-center
						.radio
							input.pregDom(type='radio',id="radio-bdomC14",name='pregunta12',value='Si', class="regular-radio",)
							label(for='radio-bdomC14')
							label 
								h4 Si
					.col-md-12.text-left
						h6.labelgral2 3.- ¿Los techos están construidos de 
								span
									strong concreto armado o bóveda de ladrillo?
					.col-md-3.text-center
						.radio
							input.pregDom(type='radio',id="radio-adomC15",name='pregunta13',value='No', class="regular-radio",checked='true')
							label(for='radio-adomC15')
							label 
								h4 No
					.col-md-3.text-center
						.radio
							input.pregDom(type='radio',id="radio-adomC16",name='pregunta13',value='Si', class="regular-radio",)
							label(for='radio-adomC16')
							label 
								h4 Si
			.row
				.col-md-offset-1.col-md-10
					hr
					.col-md-12.text-left
						h6.labelgral2 Genero
					.col-md-3.text-center
						.ico.house
						.radio
							input.pregDom(type='radio',id="radio-generoA",name='genero',value='Hombre', class="regular-radio",checked='true')
							label(for='radio-generoA')
							label 
								h4 M
					.col-md-3.text-center
						.ico.depa
						.radio
							input.pregDom(type='radio',id="radio-generoB",name='genero',value='Mujer', class="regular-radio")
							label(for='radio-generoB')
							label 
								h4 F
					.col-md-4
						p.label Fecha de nacimiento*
						.col-xs-12
							input.selector.form-control(type='text')
						.col-xs-4
							input#day.form-control(type='text', disabled='')
						.col-xs-4
							input#moth.form-control(type='text', disabled='')
						.col-xs-4
							input#year.form-control(type='text', disabled='')
					.col-md-2
						label Codigo postal
						input#cP.form-control(type="text",nombre="cP")
			.row
				.col-md-offset-1.col-md-10.text-center
					hr
					.col-md-offset-8.col-md-4
						br
						button.btn.btn-info.bigbutton(type='button') Cotizar

		hr
		.container.bgwhite
			.row
				.col-md-offset-1.col-md-10
					.col-md-10
						h4 Planes recomendados: 234234234
					.col-md-2.text-right
						h4
							span.ayuda.azul(data-toggle='tooltip', data-placement='left', title='Mensaje ~(°u°)~',class="naranja-tooltip")
			.row
				.col-md-offset-1.col-md-10
					hr
					.col-md-12
						.panel.panel-default
							.panel-body
								h4 Plan Plus
									span.ayuda.azul
								p.labelgral2 "El paquete completo de procección"
								h2 Pago:
									span.dato
										strong Mensual
								br
								h2 Primer pago:
									span.dato
										strong $1221,221 
										u "incluye el derecho de poliza ($232,00)"
								br
								h2 Pagos subsecuentes
									span.dato 
										strong 11 pagos de
								br
								h2 Total a pagar: 
								span.dato 
									strong $2312.00
					.col-md-4
						.panel.panel-default
							.panel-body
								h4 Trimestral
								p.dato 
									strong $239.00
					.col-md-4
						.panel.panel-default
							.panel-body
								h4 Semestral
								p.dato 
									strong $9080.00
					.col-md-4
						.panel.panel-default
							.panel-body
								h4 Anual
								p.dato 
									strong $8979.00
					.col-md-12.text-center
						button.btn.btn-info.solid Ver coberturas
			.row
				.col-md-offset-1.col-md-10
					.col-md-6
						hr
						h4 Plan A
							span.ayuda.azul
						p.labelgral2 "El plan más completo y con menos deducible"
						h2 Pago: 
						span.dato 
							strong $234,283.00
							u *incluye el derecho a polizas *incluye el derecho a polizas *incluye el derecho a polizas
						br
						h2 Pagos subsecuentes
						span.dato 
							strong 11 pagos de 123,342.00 MXN
						br
						h2 Total a pagar:
						Span.dato 
							strong $232,234.00 MXN
						hr
						.col-xs-4 
							h2 Trimestral
							h3 
								strong $234.00
						.col-xs-4
							h2 Semestral
							h3 
								strong $234.00
						.col-xs-4
							h2 Anual
							h3 
								strong $234.00
						.col-md-12.text-center
							button.btn.btn-info.borde Ver Coberturas
					.col-md-6
						hr
						h4 Plan B
							span.ayuda.azul
						p.labelgral2 "El plan más completo y con menos deducible"
						h2 Pago: 
						span.dato 
							strong $234,283.00
							u *incluye el derecho a polizas *incluye el derecho a polizas *incluye el derecho a polizas
						br
						h2 Pagos subsecuentes
						span.dato 
							strong 11 pagos de 123,342.00 MXN
						br
						h2 Total a pagar:
						Span.dato 
							strong $232,234.00 MXN
						hr
						.col-xs-4 
							h2 Trimestral
							h3 
								strong $234.00
						.col-xs-4
							h2 Semestral
							h3 
								strong $234.00
						.col-xs-4
							h2 Anual
							h3 
								strong $234.00
						.col-md-12.text-center
							button.btn.btn-info.borde Ver Coberturas
	h1 configura
		hr
		.container.bgwhite
			.row
				.col-md-offset-1.col-md-10
					.col-md-12
						h4 Resumen
						hr
					.col-md-3
						.panel.panel-default
							.panel-body
								.ico.house
								p.label Folio: 
									span  67878786
					.col-md-9
						.panel.panel-default
							.panel-body
								.col-md-12
									.col-md-6
										h4 Suma asegurada
									.col-md-6
										h4 $5000,000.°°
								.col-md-12
									.col-md-4
										h2.subt Por daños al inmueble
										h5.labelgral2 $ 250,000.°°
									.col-md-4
										h2.subt Por daños a los contenidos
										h5.labelgral2 $ 120,000.°°
									.col-md-4
										h2.subt Por robo
										h5.labelgral2 $ 280,000.°°
								.col-md-12
									.col-md-4
										h2.subt Por rotura de cristales
										h5.labelgral2 $ 250,000.°°
									.col-md-4
										h2.subt Por responsabilidad civil privada y familiar
										h5.labelgral2 $ 120,000.°°
									.col-md-4
										h2.subt Por daños al equipo electrónico
										h5.labelgral2 $ 280,000.°°
								.col-md-12
									.col-md-4
										h2.subt Periodo:
										h5.labelgral2 Mensual
									.col-md-4
										h2.subt Primer pago:
										h5.labelgral2 $ 250.°°
									.col-md-4
										h2.subt Pagos subsecuentes 11 pagos de:
										h5.labelgral2 $ 250.°°
								.col-md-6
									h4 Total a pagar
								.col-md-6
									h4 $3,000.°°
					.col-md-10
						h4 ¿Cuentas con algún cupon?
						.col-md-4
							input#cupon.form-control(type="text", placeholder="ingrese codigo",nombre="cupon")
						.col-md-3
							button.btn.btn-info.bigbutton(type='button') Validar
					.col-md-6
					.col-md-3
						h4 Cuota Mensual: 
					.col-md-3
						h4 $ 1,098.00
						
				.col-md-12
						br
						.space
					.col-md-6.text-center
						button.btn.btn-info.solid regresar
					.col-md-6.text-center
						button.btn.btn-info.solid confirmar
					.col-md-12
						.space
	h1 Formaliza
		hr
		.container.bgwhite
			.row
				.col-md-offset-1.col-md-10
					.col-md-12
						h4 Titular asegurado
						hr
					.col-md-4
						label Nombre(s)
						input#nombretkmQ.form-control(type="text",nombre="nombretkmQ")
					.col-md-4
						label Apellido Paterno
						input#apellidoPtkmQ.form-control(type="text",nombre="apellidoPtkmQ")
					.col-md-4
						label Apellido Materno
						input#ApellidoMtkmQ.form-control(type="text",nombre="ApellidoMtkmQ")
			.row
				.col-md-offset-1.col-md-10
					.col-md-4
						label Fecha de nacimiento
						input#fnacimientotkmQ.form-control(type="text",nombre="fnacimientotkmQ")
					.col-md-4
						label CURP
						input#curptkmQ.form-control(type="text",nombre="curptkmQ")

					.col-md-4
						label R.F.C.
						input#rfctkmQ.form-control(type="text",nombre="rfctkmQ")

			.row
				.col-md-offset-1.col-md-10
					.col-md-4
						label E-mail
						input#mailtkmQ.form-control(type="text",nombre="mailtkmQ")
					.col-md-4
						label Télefono
						input#telefonotkmQ.form-control(type="text",nombre="telefonotkmQ")

			.row
				.col-md-offset-1.col-md-10
					.col-md-12
						h4 Domicilio titular asegurado
						hr
					.col-md-4
						label País de nacionalidad
						input#paistkmQ.form-control(type="text",nombre="paistkmQ")
					.col-md-4
						label Estado
						input#edotkmQ.form-control(type="text",nombre="edotkmQ")
					.col-md-4
						label Ciudad
						input#ciudadtkmQ.form-control(type="text",nombre="ciudadtkmQ")
			.row
				.col-md-offset-1.col-md-10
					.col-md-4
						label Delegación
						input#delegaciontkmQ.form-control(type="text",nombre="delegaciontkmQ")
					.col-md-4
						label Colonia
						input#coloniatkmQ.form-control(type="text",nombre="coloniatkmQ")
					.col-md-4
						label Calle
						input#calletkmQ.form-control(type="text",nombre="calletkmQ")
			.row
				.col-md-offset-1.col-md-10
					.col-md-4
						label No. Ext
						input#noextkmQ.form-control(type="text",nombre="noextkmQ")
					.col-md-4
						label No. Int
						input#noInttkmQ.form-control(type="text",nombre="noInttkmQ")
			.row
				.col-md-offset-1.col-md-10
					.col-md-12
						h4 Contratante
						hr
					.col-md-12
						h2 Contratante es el mismo que el titular
					.col-md-3
						.radio
							input.pregDom(type='radio',id="radio-mismotitular1",name='mismotitular',value='Casa', class="regular-radio",checked='true')
							label(for='radio-mismotitular1')
							label 
								h4 SI
					.col-md-3
						.radio
							input.pregDom(type='radio',id="radio-radio-mismotitular2",name='mismotitular',value='Casa', class="regular-radio",)
							label(for='radio-radio-mismotitular2')
							label 
								h4 NO		
			.row
				.col-md-offset-1.col-md-10.text-center
					.col-md-9
					.col-md-3
						button.btn.btn-info.solid Guardar cotizacion
			.row
				.col-md-offset-1.col-md-10
					h4 Datos del pago
					hr
					.col-md-12
						label Nombre del tarjetahabiente
						input.form-control(type="text",placeholder="Nombre del tarjetahabiente")
					.col-md-5
						label Numero de tarjeta
						input.form-control(type="text",placeholder="Numero de tarjeta")
					.col-md-3
						label Codigo de seguridad
						input.form-control(type="text",placeholder="Codigo de seguridad")
					.col-md-2
						label Vigencia de tarjeta
						input.form-control(type="text",placeholder="mes")
					.col-md-2
						label(style="color:#fff;") ok  
						input.form-control(type="text",placeholder="año")
					.col-md-12
						input(type="checkbox",id="checkbox-Acepto" class="regular-checkbox big-checkbox")
						label(for="checkbox-Acepto")
						span.acepto Acepto 
							a(href="#")  terminos y condiciones
			.row
				.col-md-offset-1.col-md-10.text-center
					.col-md-9
					.col-md-3
						button.btn.btn-info.solid Contratar
		h1 Fin
		hr
		.container.bgwhite
			.row
				.col-md-offset-1.col-md-10
					.col-md-12
						h4 Resumen
						hr
					.col-md-3
						.panel.panel-default
							.panel-body
								.ico.house
								p.label Póliza: 
									span  67878786
					.col-md-9
						.panel.panel-default
							.panel-body
								.col-md-12
									.col-md-6
										h4 Suma asegurada
									.col-md-6
										h4 $5000,000.°°
								.col-md-12
									.col-md-4
										h2.subt Por daños al inmueble
										h5.labelgral2 $ 250,000.°°
									.col-md-4
										h2.subt Por daños a los contenidos
										h5.labelgral2 $ 120,000.°°
									.col-md-4
										h2.subt Por robo
										h5.labelgral2 $ 280,000.°°
								.col-md-12
									.col-md-4
										h2.subt Por rotura de cristales
										h5.labelgral2 $ 250,000.°°
									.col-md-4
										h2.subt Por responsabilidad civil privada y familiar
										h5.labelgral2 $ 120,000.°°
									.col-md-4
										h2.subt Por daños al equipo electrónico
										h5.labelgral2 $ 280,000.°°
								.col-md-12
									.col-md-4
										h2.subt Periodo:
										h5.labelgral2 Mensual
									.col-md-4
										h2.subt Primer pago:
										h5.labelgral2 $ 250.°°
									.col-md-4
										h2.subt Pagos subsecuentes 11 pagos de:
										h5.labelgral2 $ 250.°°
								.col-md-6
									h4 Total a pagar
								.col-md-6
									h4 $3,000.°°
						br
					.col-md-12
						.col-md-2
						.col-md-10.text-right
							h2 Vigencia desde 
								strong 5 enero 2017 23:34 hrs
								|  hasta 
								strong 5 enero 2020 23:40 hrs
					.col-md-12
						hr
					.col-md-12
						.panel.panel-default
							.panel-body
								.col-md-12
									h5.labelgral2 ¡Felicidades! Acabas de contratar tu Seguro de Hogar Bancomer.
									br
									h5.labelgral2 Hemos enviado la Póliza y las condiciones generales a tu correo electrónico: 
										strong  xxxx@gmail.com
									br
									h5.labelgral2 Tu número de póliza: xxxxxxx
									br
									h5.labelgral2 Úsalo paea consultar cualquier duda o consultar cambios.
									br
			.row
				.col-md-offset-1.col-md-10.text-center
					.col-md-offset-9.col-md-3
						button.btn.btn-info.solid Finalizar


		

	script(src="http://code.jquery.com/jquery.js")
	script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
	script(src="../js/app.js")
	script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")